# Environment variables
.env
backend/.env
venv/

# Google Cloud Service Account Keys
*.json
!ui_agent_extension/manifest.json

# Python caches
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Playwright Profiles
backend/chrome_profile/
